/*--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/
h4, h5, h6,
h1, h2, h3 {margin: 0;}
ul, ol {margin: 0;}
p {margin: 0;}
html, body{
    font-family: 'Work Sans', sans-serif;
    font-size: 100%;
    background:#fff;
}
a {
    text-decoration: none;
}
a:hover {
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    text-decoration:none;
}
.fixed{
    position: fixed;
    top: 0;
    width:87%;
    margin: 0 auto;
    z-index: 1;
    background:#fff;
}
/*--header main start here--*/
.page-container {
    min-width: 1260px;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    margin: 0px auto;
}
.left-content {
    float: right;
    width: 86.5%;
}







.page-container.sidebar-collapsed {
    transition: all 100ms linear;
    transition-delay: 300ms;

}
.page-container.sidebar-collapsed .left-content {
    float: right;
    width: 96%;
}
.page-container.sidebar-collapsed-back {
    transition: all 100ms linear;
}
.page-container.sidebar-collapsed-back .left-content {
    transition: all 100ms linear;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
    float: right;
    width:86%;
}
.page-container.sidebar-collapsed .sidebar-menu {
    width: 65px;
    transition: all 100ms ease-in-out;
    transition-delay: 300ms;
}

.page-container.sidebar-collapsed-back .sidebar-menu {
    width: 230px;
    transition: all 100ms ease-in-out;
}

.page-container.sidebar-collapsed .sidebar-icon {
    transition: all 300ms ease-in-out;
    color: #fff;
    background:#68AE00;

}
.page-container.sidebar-collapsed .logo {
    box-sizing: border-box;
    transition: all 100ms ease-in-out;
    transition-delay: 300ms;
    left: 18px;

}
.page-container.sidebar-collapsed-back .logo {
    width: 100%;
    height:60px;
    box-sizing: border-box;
    transition: all 100ms ease-in-out;
}

.page-container.sidebar-collapsed #logo {
    opacity: 0;
    transition: all 200ms ease-in-out;
    display: none;
}
.page-container.sidebar-collapsed .down {
    display: none;
}
.page-container.sidebar-collapsed-back #logo {
    opacity: 1;
    transition: all 200ms ease-in-out;
    transition-delay: 300ms;
}

.page-container.sidebar-collapsed #menu span {
    opacity: 0;
    transition: all 50ms linear;

}

.page-container.sidebar-collapsed-back #menu span {
    opacity: 1;
    transition: all 200ms linear;
    transition-delay: 300ms;
}
.sidebar-menu {
    position:fixed;
    float: left;
    width: 256px;
    top: 0px;
    left:0px;
    bottom: 0;
    background-color: #65bdff;
    color: #aaabae;
    z-index: 999;
}
#menu {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
}
#menu li {
    position: relative;
    margin: 0;
    font-size: 12px;
    padding: 0;
}
#menu li ul {
    opacity: 0;
    height: 0px;
}
#menu li a {
    position: relative;
    display: block;
    padding: 13px 20px;
    color: #FFFFFF;
    white-space: nowrap;
    z-index: 2;
    font-size: 1.12em;
    text-align: center;
    font-family: 'Carrois Gothic', sans-serif;
}
#menu li a:hover {
    color:#fdbb30;
    transition: color 250ms ease-in-out, background-color 250ms ease-in-out;
}
#menu li.active > a {
    background-color: #2b303a;
    color: #ffffff;
}
#menu ul li { background-color:#65bdff; }
#menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#menu li ul {
    position: absolute;
    visibility: hidden;
    left: 100%;
    top: 20px;
    background-color: #2b303a;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.1s linear;
    border-top: 1px solid rgba(69, 74, 84, 0.7);
}
#menu li:hover > ul {
    visibility: visible;
    opacity: 1;
}
#menu li li ul {
    right: 100%;
    visibility: hidden;
    top: -1px;
    opacity: 0;
    transition: opacity 0.1s linear;
}
#menu li li:hover ul {
    visibility: visible;
    opacity: 1;
}
#menu .fa {
    margin-bottom: 10px;
    font-size: 1.5em;
    display: block;
}
.menu {
    padding:4.2em 0em 0em 0em;
}
/*----*/
.page-container.sidebar-collapsed .left-content .fixed {
    width: 97%;
}
/*----*/
.logo {
    width:22%;
    box-sizing: border-box;
    position: absolute;
    top: 20px;
    left: 170px;
}
.sidebar-icon {
    position: relative;
    float: left;
    text-align: center;
    line-height: 1;
    font-size: 18px;
    padding: 6px 8px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius:3px;
    -o-border-radius:3px;
    color: #FFF;
    background-clip: padding-box;
    background:#68AE00;
}
.sidebar-icon:hover{
    color: #FFF;
}
.fa-html5 {
    color: #fff;
    margin-left: 50px;
}
/*--nav strip start here--*/
.header-main {
    background:#fff;
    padding: 1em 2em;
    box-shadow: 0 1px 3px rgba(0,0,0,0.15);
}
.header-right {
    float: right;
    width: 50%;
}
.header-left {
    float: left;
    width: 45%;
}
.logo-name {
    float: left;
    width: 30%;
    margin: 0% 3% 0% 2%;
}
.logo-name h1 {
    font-size: 2.5em;
    color: #007acc;
    margin: 0em;
    font-weight: 700;
    text-decoration: none;
}
.logo-name  h1 a{
    color: #910048;
}
.logo-name a {
    display:inline-block;
}
.nav > li > a:hover, .nav > li > a:focus {
    background: none !important;
}
span.logo-clr{
    color:#fdbb30;
}
.page-container.sidebar-collapsed-back #menu span.fa.fa-angle-right{
    position: absolute;
    top: 0px;
    right: 20px;
}

.sidebar .nav-second-level li a.active ,.sidebar ul li a.active{
    color: #F2B33F;
}
li.active a i, .act a i {
    color: #F2B33F;
}
.custom-nav > li.act > a, .custom-nav > li.act > a:hover, .custom-nav > li.act > a:focus {
    background-color: #353f4f;
    color:#8BC34A;
}
/*--prices end here--*/
/*--meadia quiries start here--*/
@media (max-width:1440px){
    .page-container.sidebar-collapsed-back .sidebar-menu {
        width: 190px;
    }
    .sidebar-menu {
        width: 190px;
    }
    .logo {
        left: 130px;
    }
    .page-container.sidebar-collapsed .logo {
        left: 16px;
    }
    canvas#bar {
        width: 515px !important;
    }
    .malorm-bottom p {
        width: 90%;
    }
    span.malorum-pro {
        left: 225px;
    }
    canvas#line {
        width: 490px !important;
    }
}
@media (max-width:1366px){
    canvas#bar {
        width: 485px !important;
    }
    .popular-bran-left h4 {
        font-size: 0.8em;
    }
    .left-content {
        width: 86%;
    }
    #menu li a {
        padding: 12px 20px;
    }
    canvas#line {
        width: 460px !important;
    }
    canvas#radar {
        width: 480px !important;
    }
    .btn-group.m-r-sm.mail-hidden-options {
        margin: 0em 0.3em;
    }
    li.dropdown.head-dpdn a.dropdown-toggle {
        margin: 1em 1.8em;
    }
    .logo-name h1 {
        font-size: 2.3em;
        margin-top: 0.1em;
    }
    #menu .fa {
        margin-bottom: 3px;
    }
    .project-eff:hover span.rollover1 {
        width: 243px;
    }
    .search-box input[type="text"] {
        width: 85%;
    }
    .boost-icons-list ul li {
        font-size: 0.9em;
    }
}
@media (max-width:1280px){
    .left-content {
        width: 85%;
    }
    .market-update-block p {
        font-size: 0.75em;
    }
    .market-update-right {
        padding: 0px;
    }
    .malorm-bottom p {
        width: 100%;
    }
    canvas#bar {
        width: 440px !important;
    }
    .popular-bran-left h4 {
        font-size: 0.75em;
    }
    .popular-bran-left p {
        font-size: 0.9em;
    }
    canvas#line {
        width: 410px !important;
    }
    span.malorum-pro {
        left: 190px;
    }
    canvas#radar {
        width: 445px !important;
    }
    .btn-group.m-r-sm.mail-hidden-options {
        margin: 0em 0.1em;
    }
    .text-muted {
        font-size: 0.8em;
    }
    .popular-bran-left {
        padding: 2.3em 1em;
    }
    li.dropdown.head-dpdn a.dropdown-toggle {
        margin: 1em 1.6em;
    }
    .mail-pic {
        width: 40%;
    }
    .mailer-name {
        width: 60%;
    }
    canvas#doughnut {
        width: 420px !important;
    }
    canvas#pie {
        width: 415px !important;
    }
    .project-eff:hover span.rollover1 {
        width: 222px;
    }
    .search-box input[type="text"] {
        width: 83%;
    }
}
@media (max-width:1024px){
    .page-container {
        min-width: 990px;
    }
    .logo-name {
        float: left;
        width: 30%;
        margin:0% 4% 0% 0%;
    }
    .logo-name {
        width: 37%;
    }
    .page-container.sidebar-collapsed-back .left-content {
        width: 82%;
    }
}
@media (max-width:768px){
    .page-container {
        min-width:650px;
        position: relative;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        margin: 0px auto;
    }
    .sidebar-menu {
        position:absolute;
        float: left;
        width: 170px;
    }
    .left-content {
        float: right;
        width: 92%;
    }
    .page-container.sidebar-collapsed {
        transition: all 100ms linear;
        transition-delay: 300ms;
    }
    .fixed {
        width: 92%;
    }
    .page-container.sidebar-collapsed .left-content .fixed {
        width: 97%;
    }
    .page-container.sidebar-collapsed-back {
        transition: all 100ms linear;
    }
    .page-container.sidebar-collapsed-back .left-content {
        transition: all 100ms linear;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        transition: all 0.3s ease;
        float: right;
        width: 92%;
    }
    .page-container.sidebar-collapsed .sidebar-menu {
        width:180px;
        transition: all 100ms ease-in-out;
        transition-delay: 300ms;
    }
    .page-container.sidebar-collapsed-back .sidebar-menu {
        width: 65px;
        transition: all 100ms ease-in-out;
    }
    #menu li a {
        padding: 20px 20px;
        text-align: left !important;
    }
    #menu .fa {
        margin-bottom: 9px;
    }
    .logo {
        left: 16px;
    }

    .page-container.sidebar-collapsed-back #menu span{
        display:none;
    }
    .page-container.sidebar-collapsed #menu span {
        opacity: 1;
        transition: all 50ms linear;
        display:block;

    }
    #menu span {
        opacity:0;
        transition: all 50ms linear;
        display: block;

    }
    span.fa.fa-angle-right,span.fa.fa-angle-double-right {


        right: 12px!important;
    }
    .sidebar-menu {
        position: fixed;
        width: 65px;
        transition: all 100ms ease-in-out;
        transition-delay: 300ms;
    }

}
@media (max-width:736px){
    .malorm-bottom p {
        font-size: 0.7em;
    }
    canvas#line {
        width: 259px !important;
    }
    canvas#pie {
        width: 264px !important;
    }
}
@media (max-width:667px){
    li.dropdown.head-dpdn a.dropdown-toggle {
        margin: 1em 0.9em;
    }
    .user-name {
        margin-left: 5px;
    }
    canvas#bar {
        width: 238px !important;
    }
    .logo-name h1 {
        font-size: 1.6em;
        margin-top: 0.35em;
    }
    canvas#line {
        width: 234px !important;
    }
    canvas#doughnut {
        width: 235px !important;
    }
    canvas#polarArea {
        width: 235px !important;
    }
    canvas#pie {
        width: 235px !important;
    }
}
@media (max-width:640px){
    .header-left {
        float: none;
        width: 100%;
        margin-bottom: 0.4em;
    }
    .page-container.sidebar-collapsed-back .left-content {
        width: 90%;
    }
    .page-container {
        min-width: 640px;
    }
}
@media (max-width:600px){
    .page-container {
        min-width: 600px;
    }
    canvas#bar {
        width: 445px !important;
    }
    .search-box input[type="text"] {
        width: 88%;
    }
    canvas#line {
        width: 443px !important;
    }
}
@media (max-width:568px){
    .page-container {
        min-width: 565px;
    }
    canvas#bar {
        width: 409px !important;
    }
    .search-box input[type="text"] {
        width: 88%;
    }
    canvas#line {
        width: 415px !important;
    }
}
@media (max-width:480px){
    .page-container {
        min-width: 495px;
    }
    .market-update-gd {
        float: none;
        width: 100%;
    }
    .left-content {
        width: 87%;
    }
    .page-container.sidebar-collapsed-back .left-content {
        width: 87%;
    }
}
@media (max-width:375px){
    .page-container {
        min-width: 375px;
    }
}
@media (max-width:320px){
    .page-container {
        min-width: 303px;
    }
    .logo-name h1 {
        font-size: 1.4em;
    }
    .left-content {
        width: 86%;
    }
    .page-container.sidebar-collapsed-back .left-content {
        width: 83%;
    }
    .page-container.sidebar-collapsed-back .sidebar-menu {
        width: 55px;
    }
    .sidebar-menu {
        width: 45px;
    }
    .logo {
        left: 7px;
    }
    .page-container.sidebar-collapsed .logo {
        left: 7px;
    }
    #menu li a {
        padding: 15px 10px;
        font-size: 1em;
    }

}
.profile_details_left {
    float: right;
}
.calender {
    padding: 1em 1.5em 1.5em;
}
.widget-shadow {
    background-color: #fff;
    box-shadow: 0 -1px 3px rgba(0,0,0,.12),0 1px 2px rgba(0,0,0,.24);
    -webkit-box-shadow: 0 -1px 3px rgba(0,0,0,.12),0 1px 2px rgba(0,0,0,.24);
    -moz-box-shadow: 0 -1px 3px rgba(0,0,0,.12),0 1px 2px rgba(0,0,0,.24);
}

#mask {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 9000;
    background-color: #000;
    display: none;
}

#boxes .window {
    position: absolute;
    left: 0;
    top: 0;
    width: 440px;
    height: 200px;
    display: none;
    z-index: 9999;
    padding: 20px;
    border-radius: 15px;
    text-align: center;
}

#boxes #dialog {
    width: 750px;
    height: 75px;
    padding: 10px;
    background-color: #ffffff;
    font-family: 'Segoe UI Light', sans-serif;
    font-size: 15pt;
}

#popupfoot {
    font-size: 16pt;
    position: absolute;
    bottom: 0px;
    width: 250px;
    left: 250px;
}